<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Condicionales</h1>
      <button type="button" (click)="mostrar=false" class="btn btn-primary">Ocultar</button>
      <button type="button" (click)="mostrar=true" class="btn btn-danger">Mostrar</button>
      <button type="button" (click)="mostrar=!mostrar" class="btn btn-warning">Conmutar</button>
      <div *ngIf="mostrar" class="card" >
        <div class="card-body">
          <h5 class="card-title">TOP SECRET</h5>
          <h6 class="card-subtitle mb-2 text-muted">Alto Secreto (para los de la logse)</h6>
          <p class="card-text">{{secret}}</p>
        </div>
      </div>
      <div class="input-group input-group-sm mb-3">
        <input type="text" #cuadro
          (click)="secret=''"
          (keyup.enter)="agregar(cuadro.value); cuadro.value=''"
          class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
      <button type="button"
        (click)="agregar(cuadro.value); cuadro.value=''"
        class="btn btn-primary">Añadir</button>
      <button type="button"
        (click)="eliminar()"
        class="btn btn-danger">Eliminar</button>
    </div>
    <div class="col-6">
      <h1>Iterativos</h1>
      <ul>
        <li *ngFor="let i of elemento"
            (dblclick)='borrar($event)'
        >{{i}}</li>
      </ul>
    </div>
  </div>
</div>
